################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/azure-bcnprice-backend/v15
/.vs/config
/.vs
